<div id="p-logo" class="mw-portlet" role="banner">
	<a href="{{link-mainpage}}">
	{{#data-logos}}
		{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}" alt="{{msg-sitetitle}}" title="{{msg-sitetitle}}">{{/wordmark}}
	{{/data-logos}}
	</a>
</div>
